$cell_alive-bg: #05C700;
$cell_alive-bg-new: lighten($cell_alive-bg, 45%);

// media query size variables
$tablet-width: 768px;
$desktop-width: 1024px;

// media query mixins
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
