@import './utilities/variables';

body {
	background: rgba(38,223,136,1);
	background: -moz-linear-gradient(top, rgba(38,223,136,1) 0%, rgba(86,164,124,1) 34%, rgba(53,100,97,1) 86%, rgba(53,100,97,1) 100%);
	background: -webkit-linear-gradient(top, rgba(38,223,136,1) 0%, rgba(86,164,124,1) 34%, rgba(53,100,97,1) 86%, rgba(53,100,97,1) 100%);
	background: -o-linear-gradient(top, rgba(38,223,136,1) 0%, rgba(86,164,124,1) 34%, rgba(53,100,97,1) 86%, rgba(53,100,97,1) 100%);
	background: -ms-linear-gradient(top, rgba(38,223,136,1) 0%, rgba(86,164,124,1) 34%, rgba(53,100,97,1) 86%, rgba(53,100,97,1) 100%);
	background: linear-gradient(to bottom, rgba(38,223,136,1) 0%, rgba(86,164,124,1) 34%, rgba(53,100,97,1) 86%, rgba(53,100,97,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26df88', endColorstr='#356461', GradientType=0 );
	background-repeat: no-repeat;
	height: 100vh;
}

.app {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.board {
	margin: auto;
	border-width: 1vh;
	border-color: #242424;
	border-style: solid;
	border-radius: 1%;
}

.menu {
	background: #242424;
	padding: 1vh 2vh 1vh 2vh;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.cell-row {
	display: flex;
}

.cell {
	height: 1vh;
	width: 1vh;
	border-width: .01rem 0 0 .01rem;
	border-color: #444;
	border-style: solid;
	&:hover {
		background: #DDD;
	}
}

.cell_dead {
	background: #07070f;
}

$cell_alive-bg: #05C700;
$cell_alive-bg-new: $cell_alive-bg + #663866;
.cell_alive {
	background: $cell_alive-bg;
	animation-name: color-change;
	animation-duration: 200ms;
}

@keyframes color-change {
	0% {
		background: $cell_alive-bg-new;
	}
	100% {
		background: $cell_alive-bg;
	}
}